package home

import "github.com/hfiorillo/site/view/layout"

templ AboutMe() {
	@layout.App(true, Empty())
    // Avatar

    // Contact details

    // Where I work

    // What areas of work i'm interested in

    // Projects i've worked on

    // Places you can find me
    
}