package layout

import "github.com/hfiorillo/site/paths"

templ Brand() {
	<div class="brand-mark">
		<a href={ paths.Root } aria-label="Home" class="brand-avatar"><img src={ paths.Avatar } alt="" width="96" height="96"/></a>
		<div class="brand-dots" aria-hidden="true"><span></span><span></span><span></span><span></span><span></span></div>
	</div>
}
