package ui

templ Sidebar(){
    <aside class="sidebar left-sidebar">
        <a href="/"><img src="/static/images/yourlogo.jpg" /></a>
        <h2> Name </h2>
        <ul>
        <li class="list">

      </li>
    </ul>
        end
    </aside>
}