package pages

import (
	"github.com/hfiorillo/site/models"
	"github.com/hfiorillo/site/view/layout"
)

templ AboutMe(post *models.BlogPost, meta models.PageMeta) {
	@layout.Base(meta) {
		@AboutMeInner(post)
	}
}

templ AboutMeInner(post *models.BlogPost) {
	<div
		id="about-me"
		class="flex flex-col items-center py-6 w-full"
	>
		<div class="px-4 sm:px-8 max-w-2xl mx-auto bg-base-100 rounded-lg prose max-w-none text-justify">
			@templ.Raw(post.Content)
		</div>
	</div>
}
