package pages

import (
	"github.com/hfiorillo/site/models"
	"github.com/hfiorillo/site/view/layout"
)

templ AboutMe(post *models.BlogPost, meta models.PageMeta) {
	@layout.Base(meta) {
		<h1 class="text-3xl font-bold mb-6">About</h1>
		<div class="prose max-w-none">
			@templ.Raw(post.Content)
		</div>
	}
}
