package pages

import (
	"github.com/hfiorillo/site/models"
	"github.com/hfiorillo/site/view/layout"
)

templ AboutMe() {
	@layout.Base() {
		@AboutMeInner(models.BlogPost{})
	}
}

// TODO:
// - Takes input from Markdown file
templ AboutMeInner(blogPost models.BlogPost) {
	<div class="bg-base-200 text-base-content">
		// { blogPost.Content }
	</div>
}
