package pages

import (
	"github.com/hfiorillo/site/models"
	"github.com/hfiorillo/site/view/layout"
)

templ Blog(posts []*models.BlogPost) {
	@layout.Base() {
		for _, post := range posts {
			<div>
				<h1>{ post.Title } </h1>
				<h1>{ post.Metadata.Date }</h1>
			</div>
		}
	}
}

// Button that when clicked replaced the current HTML with the blog itself?
templ BlogCard() {
}
